{% extends 'photo/base.html' %}

{% block title %}
{% endblock %} 

{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="col word12 card12">
    {% load static %}
            <div  class="card card12" style="width: 200px;">
                <img src="{% static 'images/person.png' %}" class="card-img-top" style="width: 150px;">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h5 class="card-title">{{user.username}}</h5>
                    <a href="{% url 'photo:mylist' %}" class="btn btn-light border-danger">스토리</a>
                    <a href="{% url 'photo:create' %}" class="btn btn-light border-danger">글쓰기</a>
                    {% else %}
                     <h8 class="card-title">로그인 후 이용하세요</h5>
                    {% endif %}
                </div>
            </div>
</div>
<br>
<br>
    <div class='container'>
        <div class="row word12">
            <div class="col-11">
                <div class="card-columns">
                {% for object in object_list %}
                <div class="card card12 mb-3">
                    <div class="card-header">
                        {{ object.author}}
                    </div>
                    <img src="{{ object.image.url }}" class="card-img-top" >
                    <div class="card-body ">
                        <p class="card-text">{{ object.text }}</p>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">
                            <a href="{% url 'photo:like' object.id %}" class="float-left btn-like {%if user in object.like.all %}active{% endif %}"></a>
                            {% if object.like.all.count %}
                            <span class = "float-left">
                                {{object.like.all.count}}
                            </span>
                            {% endif %}
                            <a href="{% url 'photo:favorite' object.id %}" class="float-right btn-favorite {%if user in object.favorite.all %}active{% endif %}"></a>                 
                        </li>
                        <li class="list-group-item " style="font-size: small;">게시 : {{ object.created }} ,<br>수정 : {{ object.updated }}<br><a href="{% url 'photo:detail' object.id %}" class="card-link" style="color: red">댓글달기</a></li>
                        {% if user == object.author %}
                        <li class="list-group-item " style="font-size: small;"><a href="{% url 'photo:update' object.id %}" class="card-link" style="color: red">수정하기</a><br><a href="{% url 'photo:delete' object.id %}" class="card-link" style="color: red">삭제하기</a>
                    {% endif %}
                </ul>
                </div>
                    <br>
                {% endfor %}
            </div>
        </div>
            
        </div>
    </div>
{% endblock %} 