{% extends 'photo/base.html' %}
{% block title %}
{% endblock %} 

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
        <div class="row">
            <div class="col-8">
                <div class="card">   
                    
                    <img src="{{ object.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body border-danger">

                        <h5 class="card-title">{{ object.author }}</h5>
                        <p class="card-text">{{ object.text }}</p>
                        <iframe  title="YouTube video player" class="youtube-player" type="text/html"  width="680" height="420" src="//www.youtube.com/embed/{{object.link}}?autoplay=1&theme=light&autohide=1&controls=2&showinfo=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'photo:like' object.id %}" class="float-left btn-like {%if user in object.like.all %} .active {%endif%}">좋아요!</a>
                            {% if object.like.all.count %}
                            <span class = "float-left">
                                {{object.like.all.count}}
                            </span>
                            {% endif %}
                            <a href="{% url 'photo:favorite' object.id %}" class="float-right btn-favorite {%if user in object.favorite.all %}.active{%endif%}">저장하기!</a>
                        </li>
                        <li class="list-group-item">수정일 : {{ object.updated }}</ul>
                        <li class="list-group-item">생성일 : {{ object.created }}</ul>
                    <div id="disqus_thread"></div>
                    <script>
                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://watchup-2.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    
                    <div class="card-body">
                        <a href="{% url 'photo:update' object.id %}" class="card-link" style="color: blue"><b>수정하기</b></a>
                        <a href="{% url 'photo:delete' object.id %}" class="card-link" style="color: blue"><b>삭제하기</b></a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
{% endblock %} 