{% extends 'photo/base.html' %}

{% block title %}
{% endblock %} 

{% block content %}
<br>
<br>
<br>
<br>
    {% for object in object_list %}
    <br>
    <div class="card col-md-5">
        <div class="card-header">
            {{ object.author}}
        </div>
    <div class="card body">
    <iframe  title="YouTube video player" class="youtube-player" type="text/html"  width="560" height="315" src="https://www.youtube.com/embed/{{object.link}}?theme=light&autohide=1&controls=2&showinfo=1" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    <br>
    <br>
        {% endfor %}
  </div>
    </div>

{% endblock %}