{% extends 'photo/base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row word12">
    <div class="col-md-12">
        <div class="mdb-lightbox no-margin">
            <div class="row">
                {% for object in object_list %}
                {% if object.author == request.user %}
                <div class="card" style="width: 20rem;">
                    <img src="{{object.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">게시 : {{ object.created }} <br>수정 : {{ object.updated }}<br></p>
                    </div>
                  </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}