{% extends 'photo/base.html' %}

{% block title %}
{% endblock %} 

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class='flex-container'>
    <div class="row">
        <div class="col-8">
            {% for object in object_list %}
            <iframe  title="YouTube video player" class="youtube-player" type="text/html"  width="560" height="315" src="//www.youtube.com/embed/{{object.link}}?autoplay=1&theme=light&autohide=1&controls=2&showinfo=1" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
